body {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0 2%;
    margin: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
}
nav .profile {
    display: flex;
    align-items: center;
  }
nav .profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

nav .profile h1 {
    margin-left: 10px;
}
nav ul {
    display: flex;
    list-style-type: none;        
}
nav ul li {
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    float: left;
    text-align: center;
    position: relative;
    
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav a{
    display: block;
    color: #022641;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
nav ul li:hover {
    color: orange;
}

nav > ul li:hover .sous{
    display: block;
 }
.sous{
     display: none;
     box-shadow: 0px 1px 2px #CCC;
     background-color: white;
     position: absolute;
     width: 100%;
     z-index: 1000
 }
 
.sous li{
     float: none;
     text-align: left;
 }
.sous a{
     padding: 10px;
     border-bottom: none;
 }
.sous a:hover{
     border-bottom: none;
     background-color: RGBa(200,200,200,0.1);
 }

/*popup*/
.btnPop{
    background-color: white;
    padding: 1em 2em;
    font-size: 14pt;
    cursor: pointer;
}

.btnPop:hover{
    background-color: gainsboro;
}

.overlay{
    position: fixed;
    left: 0px;
    top: 1px;
    background-color: white;
    width: 100%;
    height: 100%;
    display: none;
}

.popup{
    margin: 20% auto;
    width: 70%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 15px 20px 0 rgba(0, 0, 0, 0 5);
    padding: 10px;
}

.btnClose{
    float: right;
    cursor: pointer;
}